@import url('https://fonts.googleapis.com/css?family=Electrolize');

body {
    margin-right: auto;
    font-family: 'Electrolize', sans-serif;
}


.main-box {
    width: 260px;
    height: 450px;
    background-color: #1a1a1a;
    color: #ececec;
    box-shadow: 3px 5px 10px #a7a7a7;  
}


span {
    text-align: center;
}
span:hover {
    background : #d42aff;
}

.screen {
    height: 150px;
    background-color: #15a1ed;
    max-width: 100%;
}

#total {
    font-size: 40px;
    margin-left: 10px;
}

#calculation {
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
}

.keypad-box .numbersAndequalTo {
    display: flex;
    flex-flow : row;
    font-size: 20px;
    height: 265px;
}


.equalTo-box {
    width: 100px;
}

#equal {
    text-align: center;
}


.number-box span {
    padding: 10px;
}

.number-box .row {
   margin: 20px;

}

.operators span {
    font-size: 20px;
}

.operators p {
    text-align: center;
    padding: 10;
}